<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://use.fontawesome.com/64b8cce70b.js"></script> -->

    <!-- GENERAL INFO -->
    <title>Home page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Perfrom simple mathematical operations">

    <!-- Change the mobile browser's viewport width -->
    <meta name="viewport" content="width=320" />

    <!-- Sets the viewport to the same width as the screen to obtain readable render without zooming-->
    <meta name="viewport" content="width=device-width" />

    <!-- LINKS TO CSS FILE ("STYLESHEET") AND SITE ICON -->
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <!-- FACEBOOK METADATA -->
    <!-- <meta property="og:image" content="https://dogsdogsdogs.com/images/dog.png"> -->
    <meta property="og:description" content="Perform simple mathematical operations">
    <meta property="og:title" content="Calculator app">

    <!-- TWITTER METADATA -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Calculator app">
    <meta name="twitter:description" content="Perform simple mathematical operations">
    <!-- <meta name="twitter:image" content="https://dogsdogsdogs.com/images/dog.png"> -->
</head>

<body>