<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

        <p> <%= error %> </p>
        <form method="POST" action=''>
            <div class="form" id="login">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="" name="username" required value="">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="" name="password" required value="">
                <button type="submit">Login</button>
            </div>
        </form>

<%- include('./partials/footer.ejs'); %>