<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

    <form method="POST" action="">
        <div class="form">
            <label for="membershipCode">Enter Membership Code</label>
            <input type="password" id="membershipCode" placeholder="" name="membershipCode" required value="">
            <button type="sumbit">Submit</button>
        </div>
    </form>

<%- include('./partials/footer.ejs'); %>