<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

    <div id="main">
        <% if (user) { %>
            <div id="newPost">
                <textarea id="message" type="text" rows="3" placeholder="What's on your mind"></textarea>
                <button id="postButton">Post</button>
            </div>
        <% } %>
        <div id="posts">
            <div id="postHeader">
                <p id="name">Rino</p>
                <p id="usernameDisplay">@rinorincho</p>
                <li id="time"><span>3d</span></li>
            </div>
            <p id="post">From the days of Romeo, the kingdom of women suffereth violence and only the vielent men could
                take them by force.</p>
        </div>
        <div id="posts">
            <div id="postHeader">
                <p id="name">Rino</p>
                <p id="usernameDisplay">@rinorincho</p>
                <li id="time"><span>3d</span></li>
            </div>
            <p id="post">From the days of Romeo, the kingdom of women suffereth violence and only the vielent men could
                take them by force.</p>
        </div>
    </div>

<%- include('./partials/footer.ejs'); %>