<%- include('./partials/header.ejs'); %>
    <%- include('./partials/tabs.ejs'); %>

    <div id="signUpForm">
        <h2 id="pageTitle">Sign up</h2>
        <p> <%= error %> </p>
        <form method="POST" action=''>
            <div class="form" id="signUp">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" placeholder="Alfred" name="firstName" required value="">
                <label for="firstName">Last Name</label>
                <input type="text" id="lastName" placeholder="Smith" name="lastName" required value="">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="alfredsmith" name="username" required value="">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="********" name="password" required value="">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="********" name="confirmPassword" value="">
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>

<%- include('./partials/footer.ejs'); %>