<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://use.fontawesome.com/64b8cce70b.js"></script> -->

    <!-- GENERAL INFO -->
    <title>Home page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Perfrom simple mathematical operations">

    <!-- Change the mobile browser's viewport width -->
    <meta name="viewport" content="width=320" />

    <!-- Sets the viewport to the same width as the screen to obtain readable render without zooming-->
    <meta name="viewport" content="width=device-width" />

    <!-- LINKS TO CSS FILE ("STYLESHEET") AND SITE ICON -->
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <!-- FACEBOOK METADATA -->
    <!-- <meta property="og:image" content="https://dogsdogsdogs.com/images/dog.png"> -->
    <meta property="og:description" content="Perform simple mathematical operations">
    <meta property="og:title" content="Calculator app">

    <!-- TWITTER METADATA -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Calculator app">
    <meta name="twitter:description" content="Perform simple mathematical operations">
    <!-- <meta name="twitter:image" content="https://dogsdogsdogs.com/images/dog.png"> -->
</head>

<body>
    <div id="header">
        <h1 id="title">Andre's Club</h1>
        <div id="links">
            <ul>
                <li id="signUp">
                    <a href="/user/create">Sign up</a>
                </li>
                <li id="login">
                    <a href="/user/login">Login</a>
                </li>
            </ul>
            <ul>
                <li id="becomeMember">
                    <a href="/user/:id/membership/update">Become a member</a>
                </li>
                <li id="becomeAdmin">
                    <a href="/user/:id/admin/update">Become an admin</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="signUpForm">
        <h2 id="pageTitle">Sign up</h2>
        <p> <%= error %> </p>
        <form method="POST" action=''>
            <div class="form" id="signUp">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" placeholder="Alfred" name="firstName" required value="">
                <label for="firstName">Last Name</label>
                <input type="text" id="lastName" placeholder="Smith" name="lastName" required value="">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="alfredsmith" name="username" required value="">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="********" name="password" required value="">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="********" name="confirmPassword" value="">
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>